@import './base.css';

body {
    background-image: url('20240414-subtlepatterns-hexellence.png');
    background-attachment: fixed;
}

input[type=button], .button {
  /*  @apply text-white bg-[#955d50] p-1 hover:bg-[#713928] disabled:bg-[#dea987]  focus:outline-none focus:ring-2 focus:ring-blue-400;*/
    @apply text-white bg-darkbrown p-2 min-w-[125px]
    disabled:bg-darkgray disabled:text-black
    focus:outline-none focus:ring-2 focus:ring-blue-400;
}

.toggle-button {
    @apply min-w-[125px] capitalize border-2 border-darkbrown p-2
    hover:bg-darkbrown
    disabled:bg-lightbrown disabled:text-black
    focus:outline-none focus:ring-2 focus:ring-blue-400;
}



input[type=text] {
    @apply rounded p-2 border border-black;
}

.rborder {
    @apply rounded border-2 border-[#846f55]
}

#windowSize {
    @apply text-center bg-red-500 after:content-['Less_640px']
    sm:bg-orange-500 sm:after:content-['640px_Mobile_Sm']
    md:bg-orange-500 md:after:content-['768px_Tablet_Md']
    lg:bg-green-500 lg:after:content-['1024px_Desktop_Lg']
    xl:bg-blue-500 xl:after:content-['1280px_Desktop_XL']
    2xl:bg-purple-500 2xl:after:content-['1536px_Destop_2XL'];
}